#terminal-window.unified #left-headerbar.{{colorscheme}} {
    box-shadow: none;
    background: none;
    background-color: #{{titlebar}};
}

#terminal-window.unified #right-headerbar.{{colorscheme}} {
    box-shadow: none;
    background: none;
    background-color: #{{titlebar}};
}

#terminal-window.unified #right-headerbar.secondary.{{colorscheme}} {
    box-shadow: none;
    background: none;
    background-color: #{{tab-active}};
}

#terminal-window.unified #tab-bar.{{colorscheme}} > revealer > box {
    background: none;
    background-color: #{{titlebar}};
}

#terminal-window.unified #tab-bar.{{colorscheme}} tab {
    background: transparent;
}

#terminal-window.unified #tab-bar.{{colorscheme}} tab:checked {
    background: none;
    background-color: #{{tab-active}};
}
